body {
    background: lightskyblue;
}
#header {
    text-align: center;
}
#welcome {
    text-align: center;
}

#columbiapic {
    
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.travelHeader {
    text-align: center;
}